* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#header {
    width: 100%;
    height: 46px;
    background-color: antiquewhite;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    text-align: center;
}
#header .list-menu li{
    display: inline-block;
}
#header .list-menu li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 0 24px;
    line-height: 46px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}
#header .list-menu li:hover {
    background-color: rgb(134, 26, 89);
    border-radius: 5px;
}
#header .list-menu li:hover a {
color: aliceblue;
}

#content{
    margin-top: 46px;
    text-align: center;
}
.anh-nen {
    width: 100%;
    margin-top: 24px;
    padding: 0 24px;
}
.title {
    text-align: center;
    padding-top: 24px;
}
.box-list{

}
.box{
    margin-top: 24px;
    padding-left:  12px ;
    float: left;
    width: 33.33333%;
    text-align: center;
    background-color: antiquewhite;
}
.img-box{
    width: 240px;
    border-radius: 5px;
}
.chi-tiet{
    text-decoration: none;
    color: rgb(187, 55, 55);
}
.chi-tiet:hover{
    color: rgb(31, 116, 87);
}
#footer{
    width: 128px;
    background-color: black;
}

.footer{
    height: 128px;
    background-color:#777;
    width: 100%;
    margin-top: 256px;
}
.haha{
    color: azure;
    font-size: 52px;
    text-transform: uppercase;
    text-align: center;
    line-height: 128px;
}